# Dependency directories
node_modules

# Build output that will be regenerated in image
build

# Env
.env

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# System
.DS_Store
Thumbs.db

# Git & Editor
.git
.gitignore
.vscode
.idea
